.main-block-wrapper {
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('/img/homepage/main/desktop.svg');

  @media only screen and (max-width: 1024px) {
    background-image: url('/img/homepage/main/tablet.svg');
  }

  @media only screen and (max-width: 767px) {
    background-image: url('/img/homepage/main/mobile.svg');
  }
}

.main-block {
  gap: 16px;
  display: flex;
  padding-top: 217px;
  align-items: center;
  padding-bottom: 120px;
  flex-direction: column;

  @media only screen and (max-width: 1024px) {
    gap: 16px;
    padding-top: 154px;
    padding-bottom: 88px;
  }

  @media only screen and (max-width: 767px) {
    gap: 24px;
    padding-top: 84px;
    padding-bottom: 56px;
  }
}

.main-block__title-description {
  gap: 24px;
  width: 945px;
  display: flex;
  max-width: 100%;
  text-align: center;
  padding: 0 0 59px 0;
  flex-direction: column;

  h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -2%;
    font-family: var(--font-rationell);
    color: var(--Neutrals-800---Primary-content, #29292d);
  }

  li {
    max-width: 768px;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.28px;
    font-family: var(--font-inter);
    color: var(--Neutrals-600---Secondary-content, #63636d);
  }

  @media only screen and (max-width: 1024px) {
    gap: 8px;
    padding: 0;

    h1 {
      font-size: 40px;
      line-height: 48px;
    }

    li {
      font-size: 18px;
      line-height: 26px;
    }
  }

  @media only screen and (max-width: 767px) {
    gap: 24px;

    h1 {
      font-size: 36px;
      line-height: 44px;
    }

    div {
      line-height: 24px;
    }
  }

  @media only screen and (max-width: 393px) {
    li {
      max-width: 311px;
    }
  }
}

.main-block__additional-blocks {
  gap: 20px;
  display: flex;
  width: 1300px;
  max-width: 100%;
  align-items: center;

  @media only screen and (max-width: 1024px) {
    gap: 12px;
    flex-direction: column;
  }

  @media only screen and (max-width: 767px) {
    gap: 8px;
  }
}

.main-block__additional-block {
  flex: 1;
  width: 100%;
  display: flex;
  cursor: pointer;
  min-height: 200px;
  border-radius: 24px;
  padding: 25.5px 28.5px;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: bottom left;
  box-shadow: 0px 6px 12px rgba(47, 43, 67, 0.1);
  background-image: url('/img/homepage/main/additional-block.svg');
  transition: all 0.3s ease-in-out;

  &:hover {
    cursor: pointer;
    opacity: 0.75;
  }

  &:nth-child(1) {
    background-color: var(--primary-500-base, #3668dd);

    .main-block__additional-block-title {
      div {
        &:last-child {
          color: var(--Primary-100, #c5d4f5);
        }
      }
    }
  }

  &:nth-child(2) {
    background-color: var(--success-500-base, #2dba8d);

    .main-block__additional-block-title {
      div {
        &:last-child {
          color: var(--Success-100, #c5eee1);
        }
      }
    }
  }

  &:nth-child(3) {
    background-color: #743de5;

    .main-block__additional-block-title {
      div {
        &:last-child {
          color: #d8c5f9;
        }
      }
    }
  }

  @media only screen and (max-width: 1024px) {
    min-height: 100px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-position: bottom right;
  }

  @media only screen and (max-width: 767px) {
    min-height: 112px;
  }
}

.main-block__additional-block-title {
  gap: 8px;
  display: flex;
  margin: 0 0 auto 0;
  flex-direction: column;

  div {
    font-family: var(--font-inter);

    &:first-child {
      font-size: 24px;
      font-weight: 500;
      color: #ffffff;
      line-height: 32px;

      @media only screen and (max-width: 767px) {
        font-size: 20px;
        line-height: 26px;
      }
    }

    &:last-child {
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: -0.05px;

      @media only screen and (max-width: 1024px) {
        font-size: 14px;
        line-height: 22px;
      }

      @media only screen and (max-width: 767px) {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}

.main-block__continue-button {
  width: 32px;
  height: 32px;
  display: flex;
  margin: 0 0 0 auto;
  align-items: center;
  border-radius: 20px;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(47, 43, 67, 0.1);

  @media only screen and (max-width: 1024px) {
    margin: 0;
  }

  @media only screen and (max-width: 767px) {
    display: none;
  }
}

.redirect-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.875rem 1.25rem;
  border-radius: 8px !important;
  border: 1px solid #2edc8c;
  background-color: #2edc8c;
  box-shadow: 0 2px 6px 0 rgba(16, 24, 40, 0.06);
  margin-top: 16px;

  @media only screen and (max-width: 767px) {
    margin-top: 8px;
  }

  &:hover {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-color: #20b972;
    border-color: #20b972;
  }
}
